.wrapp-app{
    margin: 0 auto;
    width: 1000px;
    display: grid;

    grid-template-areas: 
    "hd hd"
    "nv main";
    grid-template-rows: 60px 100fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content{
    background-color: greenyellow;
}   